.slider {
  padding-top: 20px;
  position: static;
}
.slider [class*='swiper-button-prev'] {
  left: -50px;
  background: url(@/assets/images/rhr/slideOnL.png) center / 24px 24px no-repeat;
  object-fit: contain;
}
.slider [class*='swiper-button-next'] {
  right: -50px;
  background: url(@/assets/images/rhr/slideOnR.png) center / 24px 24px no-repeat;
}
.slider [class*='swiper-button-lock'] {
  display: block;
}

.slider [class*='swiper-button-prev']::after,
.slider [class*='swiper-button-next']::after {
  display: none;
}

@media (max-width: 1440px) {
  .slider [class*='swiper-button'] {
    top: -35px;
  }
  .slider [class*='swiper-button-prev'] {
    left: auto;
    right: 35px;
  }
  .slider [class*='swiper-button-next'] {
    right: 0;
  }
}
@media (max-width: 599px) {
  .slider [class*='swiper-button'] {
    display: none;
  }
}
