.slider {
  padding-top: 20px;
  position: static;
}
.slider [class*='swiper-button-prev'] {
  left: -50px;
  background-image: url(/src/assets/images/rhr/slideOffL.png);
}
.slider [class*='swiper-button-next'] {
  right: -50px;
}
.slider [class*='swiper-button-lock'] {
  display: block;
}
